body{
    height: 300vh;
    position: relative;
}
nav{
    position: fixed;
    top: 0;
}

div{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    right: 0;
}

footer{
    position: fixed;
    bottom: 0;
}