h1{
    color: aqua;
}
h2{
color: black;
}
h3{
color: blue;
}
h4{
color: brown;
}
h5{
color: yellowgreen;
}
h6{
color: aquamarine;
}


a:hover{
    font-size: 10vh;
}


ul li:last-child{
    color: rgb(13, 94, 94);
    border-bottom: 10;
}


p{
    color: brown;

}

.color{
    color: chartreuse;
}

#color{
color: blueviolet;
}

.container{
    color: rebeccapurple;
    text-align: center;
}