.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 5px;
    width: 400px;
}

.grid-item {
    border: 1px solid #858342;
    text-align: center;
    padding: 10px;
}

.larger {
    grid-row: 2;
    height: 80px;
}
